
<form>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="P4$$w0rd">
  </div>
  <div class="form-actions">
    <div class="row">
      <div class="col">
          Not a member? <br>
          <a>Sign up now</a>
      </div>
      <div class="col text-right">
          <a>Forgot Password?</a>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-full-width btn-lg">Submit</button>
</form>
