$brand-primary: #CD5C5C;
$brand-secondary: #F08080;
$brand-light-red: #F4CACA;
$brand-dark-red: #653838;
$brand-white: #F4F4F4;
$dark-gray: #333333;
$gray: #555555;
$light-background: #F8F4F4;
$disable-background: #E0E0E0;
$input-text: #c6c6c6;


$gradient: linear-gradient(to right, $brand-secondary, $brand-primary);